# Gradle
.gradle/
build/
*/build/

# Local configuration
local.properties

# Android Studio
*.iml
.idea/
*.iws
*.ipr

# Keystore files (IMPORTANT - your sensitive files)
*.jks
*.keystore
key.properties

# OS files
.DS_Store

# C++ / Native builds
.externalNativeBuild/
.cxx/

# Captures
captures/

# Misc
*.log